body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#flipbook-container {
    display: flex;
    align-items: center;
}

#flipbook {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.page {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.page img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.nav-button:hover {
    background-color: #555;
}

/* Media queries untuk mode potret */
@media (orientation: portrait) {
    #flipbook {
        height: 80vh;
    }

    .page {
        height: 100%;
    }
}
